.container{
    background-color: green;
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 50px;
    align-items: center;
    text-align: center;
}

.ops{
    font-size: 30px;
    align-items: center;
    text-align: center;
}

.boton{
    margin-top: 50px;
}