.container {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "imagePizza titlePizza"
        "imagePizza descriptionPizza"
        "imagePizza ingredientsPizza"
        "imagePizza totalsPizza";
    
}

.imagePizza {
    grid-area: imagePizza;
}

.titlePizza {
    grid-area: titlePizza;
}

.descriptionPizza {
    grid-area: descriptionPizza;
}

.ingredientsPizza {
    grid-area: ingredientsPizza;
}

.totalsPizza {
    grid-area: totalsPizza;
}