body {
    background-color: black;
    font-family: 'Roboto', sans-serif;

}

h1 {
    color: white;
    text-align: center;
}
.iguanaheader img {
    width: 99%;
    align-items: center;
}

.contenido {
    width: 100%;
    height: 350px;
    border: 1px solid white;
    align-content: center;
    margin-top: 50px;
    padding: 100px;
    
}

.text {
    width: 45%;
    color: white;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    border: 1px solid yellow;
}
.iguanaright {
    width: 25%;
    margin: 10px;
    padding: 10px;
    float:right;
    margin-right: 100px;

}
.features {
    color: white;
    border: 1px solid red;
    background-color: black;
    text-align: center;
}
.f1 {
    display:inline-block;
    width: 30%;
}
.f2 {
    display:inline-block;
    width: 30%;
}
.f3 {
    display:inline-block;
    width: 30%;
}