body{
    background-color:black ;
    color: gray;
    margin: 70px 70px 70px 140px;
    
}

#titular{
    margin-right: 90px;
    background-color: white;
    height:240px;
    border: 3px solid black;
    overflow: hidden;
    display:block;
}
#imagen1 {
    float: right;
    clear: left;
}
#texto1{
    margin: auto;
    border: 3px solid black;
    padding: 70px;
}
.producto{
    margin-right: 90px;
    text-align: center;
    padding:70px;
    overflow: hidden;
    background-color:gray ;
    color: black;
    border: 3px solid black;
}

.imagenproducto{
    align-items:center;
    display: inline-block;
    float:left;
    clear:left;
}
.textoproducto{
    font-style: oblique;
    font-size: 30px;
    line-height: 160px;
}
#pie{
    font-size: smaller;
    text-align:center;
}
